<header>
    <span class="logo">
        <a href="/">TinyApp</a>
    </span>
    <span>
    <% if (templateVars.userId) { %>
    <form action="/urls" method="POST" style = "padding-left: 10px;">
            <input id="longURL" type="text" name="longURL" placeholder="http://" value="http://">
            <input id="submit" type="submit" value="Submit">
        </form>
    <% } %>
    </span>
    <span class="user">
    <% if (templateVars.userId) { %>
        Hi <%= templateVars.userDb[templateVars.userId].email.split("@")[0] %>!
        <form action="/logout" method="POST">
        <input id="submit" type="submit" value="Logout">
        </form>
    <% } else { %>
        <form action="/login" method="GET">
            <input id="submit" type="submit" value="Login">
        </form>
        <form action="/register" method="GET" style="padding-right:10px">
            <input id="submit" type="submit" value="Register" style="width:60px;">
        </form>
   <% } %>
    </span>
</header>