<header>
    <span class="logo">
        <a href="/">TinyApp</a>
    </span>
    <span>
    <form action="/url" method="POST" style = "padding-left: 10px;">
            <input id="longURL" type="text" name="longURL" placeholder="http://">
            <input id="submit" type="submit" value="Submit">
        </form>
    </span>
    <span class="user">
    <% if (templateVars.userName) { %>
        Hi <%= templateVars.userName %>!
        <form action="/logout" method="POST">
        <input id="submit" type="submit" value="Logout">
        </form>
    <% } else { %>
        <form action="/login" method="POST">
            <input id="userName" type="text" name="userName" placeholder="User Name">
            <input id="submit" type="submit" value="Login">
        </form>
        <form action="/register" method="GET" style="padding-right:10px">
            <input id="submit" type="submit" value="Register" style="width:60px;">
        </form>
   <% } %>
    </span>
</header>