<header>
    <span class="logo">
        <a href="/">TinyApp</a>
    </span>
    <span>
    <form action="/url" method="POST" style="padding-left:10px;">
            <input id="longURL" type="text" name="longURL" placeholder="http://">
            <input id="submit" type="submit" value="Submit">
        </form>
    </span>
    <span class="user">
        <a href="/login">(log in)</a>&nbsp;
        <a href="/register">(register)</a>
    </span>
</header>