body {
  margin: 0px;
  background-color:darkslategray;
  font-family:Futura;
}

header {
  display: block;
  background-color: rgb(46, 46, 46);
  padding-top: 3px;
  padding-bottom: 4px;
  font-size: 20px;
}

form {
  display: inline;
  vertical-align:0%;
}

span.logo a {
  color: #000;
}

span.user a{
  line-height:1.2;
  color: #fff;
}

input {
  display:inline;
  height:22px;
  border-width: 0px;
  padding-left: 5px;
  vertical-align: 7%;
}

button {
  display:inline;
  padding:0px;

}

a {
  color: white;
}



.logo {
  background-color:white;
  padding:5px;
  padding-right:8px;
  padding-bottom:5px;
}

.user {
  float: right;
}

.clapton {
  margin: 0 auto;
  width: 41%;
  padding-top: 160px;
}

#longURL {
  padding-top:1px;
  width: 250px;
}

#submit {
  padding-top:-1px;
  padding-left:4px;
  width:50px;
}