<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <div class="register">
      <form action="register" method="POST">
        <input id="email" type="email" name="email" placeholder="E-mail">
        <input id="password" type="password" name="password" placeholder="Password">
        <input id="submit" type="submit" value="Submit">
      </form>
    </div>
<% include ../partials/clapton %>
  </body>
</html>
