<% include ../partials/head.ejs %>
<% include ../partials/header.ejs %>
  http://www.tinyapp.com/<%= templateVars.short %>
  <form action="/url/<%= templateVars.short %>/update" method="POST" style="padding-left:10px;">
    <input id="longURL" type="text" name="longURL" placeholder="<%= templateVars.long %>">
    <input id="submit" type="submit" value="Submit">
  </form>